/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "nordic_clicker-pinctrl.dtsi"

/ {
	model = "Nordic Clicker";
	compatible = "yohummus,nordic-clicker";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
	};

	outputs {
		compatible = "gpio-leds";
		lp5813_en: lp5813_en {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			label = "LM5813 Enable Pin";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button_1: button_1 {
			gpios = <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 1";
			zephyr,code = <INPUT_BTN_1>;
		};
		button_2: button_2 {
			gpios = <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 2";
			zephyr,code = <INPUT_BTN_2>;
		};
		button_3: button_3 {
			gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 3";
			zephyr,code = <INPUT_BTN_3>;
		};
		button_4: button_4 {
			gpios = <&gpio1 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 4";
			zephyr,code = <INPUT_BTN_4>;
		};
		button_5: button_5 {
			gpios = <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 5";
			zephyr,code = <INPUT_BTN_5>;
		};
		button_6: button_6 {
			gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 6";
			zephyr,code = <INPUT_BTN_6>;
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	disable-rx;
	data-bits = <8>;
	stop-bits = "1";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};
