/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "nordic_clicker-pinctrl.dtsi"

/ {
	model = "Nordic Clicker";
	compatible = "yohummus,nordic-clicker";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	outputs {
		compatible = "gpio-leds";
		lp5813_en: lp5813_en {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			label = "LM5813 Enable Pin";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button_1: button_1 {
			gpios = <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 1";
			zephyr,code = <INPUT_BTN_1>;
		};
		button_2: button_2 {
			gpios = <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 2";
			zephyr,code = <INPUT_BTN_2>;
		};
		button_3: button_3 {
			gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 3";
			zephyr,code = <INPUT_BTN_3>;
		};
		button_4: button_4 {
			gpios = <&gpio1 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 4";
			zephyr,code = <INPUT_BTN_4>;
		};
		button_5: button_5 {
			gpios = <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 5";
			zephyr,code = <INPUT_BTN_5>;
		};
		button_6: button_6 {
			gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "Button 6";
			zephyr,code = <INPUT_BTN_6>;
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(472)>;
		};

		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 DT_SIZE_K(472)>;
		};

		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 DT_SIZE_K(32)>;
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};
